<section class="card"> 
  <!-- This is an ahref that will display the deck name as a link, it will then lead to deck/:id TBD on those pages -->
  <a href="/deck/{{id}}">
    <!-- The card contains the deck name as the card header -->
    <header>{{name}} - {{user.username}}</header>
  </a>
</section>