<div class="flip-card hideMe" >
  <div class="flip-card-inner">
    <div class="flip-card-front">
      
      <p id="question-card" deck={{this.id}}> {{this.question}}</p>
   
    </div>

    <div class="flip-card-back">
      <h1>Your Answer:</h1> 
    {{!-- {{#each this}} --}}
      <p>{{this.answer}}</p> 
      {{!-- {{/each}} --}}
 
    </div>
  </div>
   <button type="button" class="back">Back</button>

  <button type="button" class="next">Next</button>

  </div>



  