
    <div>
    <form class="card-body edit-deck-form">
        <label for="post-title" class="form-label">Deck Name</label>
        <input name="post-title" type="text" value="{{name}}" class="form-input" />
        <button type="submit" class="btn">Update Deck Name</button>
    </form>
</div>

    <script src="/javascript/update-deck-name.js"></script>
