<section>
    <h2 class="text-light">Create a New Card</h2>
    
<div class="card bg-dark text-light">
    <form class="card-body new-post-form" id="new-deck-form">
        <label for="card-question" class="form-label">Question:</label>
        <input type="text" id="card-question" name="card-question" class="form-input" />

        <label for="card-answer" class="form-label">Answer:</label>
        <input type="text" id="card-answer" name="card-answer" class="form-input" />

        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>


<script src="/javascript/add-card.js"></script>



</section>