<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeckedOut</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martel&family=Nunito&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="wrapper">
      <header class="hero">
          <div>
          
          <div class="bg-img">
            <h1 class="app-title text-light">DeckedOut Study System</h1>
           <div class="container">
            <nav class="nav topnav justify-content-center">
                    <a class="link btn" href="/">Home</a>
                    {{#if loggedIn}}
                    <a class="link btn" href="/new-deck">Create a new Deck</a>
                    <a class="link btn" href="/my-decks">My Decks</a>
                    <button class="link btn" id="logout">Logout</button>
                    {{else}}
                    <a class="link btn" href="/login" id="login">Login</a>
                    {{/if}}
                </nav>
           </div>
          </div>    
          </div>

      </header>
      {{> particles}}
    <main>
      {{{ body }}}
    </main>
  </div>

    <script src="/javascript/next.js"></script>
    <script src="/javascript/quizStart.js"></script>
    <script src="/javascript/hide.js"></script>
        
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}


</body>
</html>
