<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        
      <p id="question-card" value={{cardAnswer.id}} deck={{cardAnswer.deck_id}}> {{cardAnswer.question}}</p>
    
    </div>

    <div class="flip-card-back">
      <h1>Your Answer:</h1> 
    {{#each this}}
      <p>{{answer}}</p> 
      {{/each}}
    </div>
  </div>
  
  <button type="button" class="back">Back</button>
  <button type="button" class="next">Next</button>
  

