<header>Deck Name:</header>
{{#each this}}
{{name}}
{{/each}}

<br>
<br>
<header>Your Questions:</header>
<article>

{{#each deckCards as |deckCard|}}
{{> deck-cards}}
{{/each}}

{{> new-cards}}

</article>
<section><a class="link" href="/new-card">Create a new Card</a></section>