<header>Deck Name:</header>
{{#each this}}
{{name}}
{{/each}}

<br>
<br>
<header>Your Questions:</header>
<article>
<button type="button" class="start">Start your quiz</button>

{{#each deckCards as |deckCard|}}
{{> deck-cards}}
{{/each}}

</article>
