<h2 class="text-light">Deck Name:</h2>
{{#each this}}
<p class="text-light">{{name}}</p>
{{/each}}

<h2 class="showMe text-light">Your Questions:</h2>
<article>
<button onclick="myFunction()" id="deckQuestions" type="button" class="start btn btn-success" value={{deckCards.user_id}} deck={{deckCards.cards.[0].id}} test={{deckCards.cards}}>Start your quiz</button>


{{#each deckCards.cards}}
{{> deck-cards}}
{{/each}} 

<br>
<br>
<br>

{{> new-cards}}
{{> edit-deck-name}}

</article>
<button type="button" class="delete-deck-btn btn btn-danger">Delete Deck</button>


<script src="/javascript/delete-deck.js"></script>