<header>Deck Name:</header>
{{#each this}}
{{name}}
{{/each}}

<br>
<br>
<header>Your Questions:</header>
<article>
<button id="deckQuestions" type="button" class="start" value={{deckCards.user_id}} deck={{deckCards.cards.[0].id}}>Start your quiz</button>

{{!-- {{#each deckCards as |deckCard|}}
{{> deck-cards}}
{{/each}} --}}


{{> new-cards}}

</article>
<button type="button" class="delete-deck-btn btn">Delete Deck</button>

<script src="/javascript/delete-deck.js"></script>