<header>Deck Name:</header>
{{#each this}}
{{name}}
{{/each}}

<br>
<br>
<header>Your Questions:</header>
<article>
<button id="deckQuestions" type="button" class="start" value={{deckCards.user_id}} deck={{deckCards.cards.[0].id}}>Start your quiz</button>

{{!-- {{#each deckCards as |deckCard|}}
{{> deck-cards}}
{{/each}} --}}


{{> new-cards}}

</article>
<section><a class="link" href="/new-card">Create a new Card</a></section>