
<article>

{{#if loggedIn}}
    <p class="text-center my-2">Recent users decks:</p>
{{#each decks as |deck|}}
{{> deck-details}}
{{/each}}
{{else}}
<p>Login to see your decks, other users decks or create new ones!</p>
<a class="link" href="/login" id="login">Login or Signup</a>
{{/if}}
</article>

