
<article class="text-center">
<h3 class="my-4 text-light">Number of times you've visited this page: {{countVisit}}</h3>
{{#if loggedIn}}
    <p class="text-center my-2">Recent users decks:</p>
    <div class="row justify-content-center">
{{#each decks as |deck|}}
{{> deck-details}}
{{/each}}
</div>
{{else}}
<p class="my-4 text-light">Log in to see and create your own study decks, as well as view other users' decks!</p>
<a class="link btn btn-dark" href="/login" id="login">Login or Signup</a>
{{/if}}
</article>



