<div class="card">
    <h3 class="card-header">Create New Deck</h3>
    <form class="card-body new-post-form" id="new-deck-form">
        <label for="post-title" class="form-label">Deck Name</label>
        <input type="text" id="post-title" name="post-title" class="form-input" />

        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>

<script src="/javascript/add-deck.js"></script>